
    <div class="container ">
        <div class="container_left">
            <div class="cardTitle">
                <img class="iconFire" src="assets/imgs/fire_icon-icons.com_70969.png" alt="iconTypePokemon">
                <h2 class="titleName">CHARIZARD</h2>
            </div>
            <div class="imagePK">
                <img src="assets/imgs/Mewtow.png" alt="pokemon">
            </div>
        </div>

        <div class="container_rigth">
            <table>
                <tr>
                    <th>NO.</th>
                    <th>LEVEL</th>
                </tr>
                <tr>
                    <td>235</td>
                    <td>150</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <th>TYPE</th>
                    <th>HABILITY</th>
                </tr>
                <tr>
                    <td>PSYCHIC</td>
                    <td>PRESSURE</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <th>HEIGHT</th>
                    <th>WEIGHT</th>
                </tr>
                <tr>
                    <td>2.0 m</td>
                    <td>122,0 Kg</td>
                </tr>
            </table>
        </div>

    </div>

