.titleFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
  }
  
  .buttomPK {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: lightgray;
    border-radius: 7rem;
    cursor: pointer;
  }
  
  .buttomPK:hover {
    background-color: gray;
    border: black 2px solid;
    transform: scale(1.1);
  
  }
  
  .buttomImgPK:hover {
    transform: rotateY(360deg);
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .buttomImgPK {
    height: 5rem;
    width: 5rem;
  }
  
  .footerButtoms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 10px 0px;
    background-color: white;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    border-left: gray 1.5px solid;
    border-right: gray 1.5px solid;
    border-bottom: gray 1.5px solid;
  }

  .containerFooter {
    align-items: center;
    object-fit: scale-down;
    justify-content: space-between;
  }

  @media screen and (min-width: 500px) {
   .footer{
      grid-column: 1 / -1;
      clear: both;
    }
  
    .imagePK {
      top: 0;
    }
  
    .footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .titleFooter {
      margin-right: 5rem;
    }
  
    .containerFooter {
      display: flex;
      align-items: center;
      object-fit: scale-down;
      justify-content: space-between;
    }
  
    .footerButtoms {
      display: flex;
    }
  }
  
  
  
  

