<footer class="footer">
    <div class="containerFooter">

        <div class="titleFooter">
            <h3>OTHERS</h3>
        </div>

        <div class="footerButtoms">
            <div class="buttomPK">
                <img class="buttomImgPK" src="assets/imgs/sqBlack.png" 
                onmouseover="this.src='assets/imgs/sq.png'"
                onmouseout="this.src='assets/imgs/sqBlack.png'"/>
            </div>
            <div class="buttomPK">
                <img class="buttomImgPK" src="assets/imgs/RaichuBlack.png" 
                onmouseover="this.src='assets/imgs/Raichu.png'"
                onmouseout="this.src='assets/imgs/RaichuBlack.png'"/>
            </div>
            <div class="buttomPK">
                <img class="buttomImgPK" src="assets/imgs/bbBlack.png" 
                onmouseover="this.src='assets/imgs/bb.png'"
                onmouseout="this.src='assets/imgs/bbBlack.png'"/>
            </div>
            <div class="buttomPK">
                <img class="buttomImgPK" src="assets/imgs/ducBlack.png" 
                onmouseover="this.src='assets/imgs/duc.png'"
                onmouseout="this.src='assets/imgs/ducBlack.png'"/>
            </div>
        </div>
    </div>



</footer>